{% load static %}
{% comment %}
    context = {
        'message': message
    }
{% endcomment %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link type="text/css" rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link type="text/css" rel="stylesheet" href="{% static 'css/error404.css' %}">
    <!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>

</head>
<body>

        <!-- Error Page -->
            <div class="error">
                <div class="container-floud">
                    <div class="col-xs-12 ground-color text-center">
                        <div class="container-error-404">
                            <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                            <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                            <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                            <div class="msg">OH!<span class="triangle"></span></div>
                        </div>
                        <h2 class="h1">Sorry! Page not found</h2>
                        {% if message %}
                            <h2 class="h1">Hint: {{ message }}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        <!-- Error Page -->
  <script type="text/javascript" src="{% static 'js/error404.js' %}"></script>

</body>
</html>
