{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.js"></script>
{% comment %} animation {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script> {% endcomment %}

{% comment %} local {% endcomment %}
<script src=" {% static 'js/jquery.min.js' %} "></script>
<script src=" {% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src=" {% static 'js/bs-init.js' %} "></script>

{% comment %} <script src=" {% static 'js/canvas.js' %} "></script>
<script src="{%  static "js/freelancer.js" %}"></script> {% endcomment %}