{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
{% comment %} animation {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

{% comment %} local {% endcomment %}
<script src=" {% static 'js/jquery.min.js' %} "></script>
<script src=" {% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src=" {% static 'js/bs-init.js' %} "></script>
<script src=" {% static 'js/theme.js' %} "></script>