{% extends 'base.html' %}

{% block title %}
    Index Page
{% endblock %}

{% block content %}
    <div class="ui container" style="margin-top: 10em; text-align: center;">
        <div class="ui segment raised very padded container">
            <div class="ui header massive">Welcome to UNO Game!</div>
            <!-- <button class="ui animated button">
                <span class="visible content">Next</span>
                <span class="hidden content"><i class="right arrow icon"></i></span>
            </button> -->
            {% if user.is_authenticated %}
                <a href="{% url 'main_page' %}">ChitChat Messenger</a>#}
                <br/>
                <a href="{% url 'logout' %}">Logout</a>
                <br/>
                <h3><a href="{% url 'user_profile' user.username %}">Visit Your Profile</a></h3>
            {% else %}
                <div class="ui buttons huge">
                    <button class="button ui teal">
                        <a href="{% url 'signup' %}"><span class="ui text black">Signup</span></a>
                    </button>
                    <div class="or"></div>
                    <button class="button ui teal inverted">
                        <a href="{% url 'login' %}"><span class="ui text black">Login</span></a>
                    </button>   
                </div>
            {% endif %}
        </div>
    </div>

{# From Kshitiz  #}
{#    <h1>Welcome to UNO Game!</h1>#}
{#    {% if user.is_authenticated %}#}
{#        <a href="{% url 'logout' %}">Logout</a>#}
{#        <br/>#}
{#        {% if user.is_superuser %}#}
{#            <a href="{% url 'add_cards' %}">Add Cards</a>#}
{#        {% endif %}#}
{#        <h3><a href="{% url 'user_profile' user.username %}">Visit Your Profile</a></h3>#}
{#    {% else %}#}
{#        <a href="{% url 'signup' %}">Signup</a>#}
{#        <a href="{% url 'login' %}">Login</a>#}
{#    {% endif %}#}

{#  From Ankit #}
{#    <h1>Welcome to UNO Game!</h1>#}
{#    {% if user.is_authenticated %}#}
{#        <a href="{% url 'main_page' %}">ChitChat Messenger</a>#}
{#        <br/>#}
{#        <a href="{% url 'logout' %}">Logout</a>#}
{#        <br/>#}
{#        <h3><a href="{% url 'user_profile' user.username %}">Visit Your Profile</a></h3>#}
{#    {% else %}#}
{#        <a href="{% url 'signup' %}">Signup</a>#}
{#        <a href="{% url 'login' %}">Login</a>#}
{#    {% endif %}#}


{% endblock %}

{% block javascript %}

{% endblock %}

{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>#}
{#</head>#}
{#<body>#}
{##}
{#    <script>#}
{#    var config = {#}
{#        type: Phaser.AUTO,#}
{#        width: 800,#}
{#        height: 600,#}
{#        physics: {#}
{#            default: 'arcade',#}
{#            arcade: {#}
{#                gravity: { y: 200 }#}
{#            }#}
{#        },#}
{#        scene: {#}
{#            preload: preload,#}
{#            create: create#}
{#        }#}
{#    };#}
{##}
{#    var game = new Phaser.Game(config);#}
{##}
{#    function preload ()#}
{#    {#}
{#        this.load.setBaseURL('http://labs.phaser.io');#}
{##}
{#        this.load.image('sky', 'assets/skies/space3.png');#}
{#        this.load.image('logo', 'assets/sprites/phaser3-logo.png');#}
{#        this.load.image('red', 'assets/particles/red.png');#}
{#    }#}
{##}
{#    function create ()#}
{#    {#}
{#        this.add.image(400, 300, 'sky');#}
{##}
{#        var particles = this.add.particles('red');#}
{##}
{#        var emitter = particles.createEmitter({#}
{#            speed: 100,#}
{#            scale: { start: 1, end: 0 },#}
{#            blendMode: 'ADD'#}
{#        });#}
{##}
{#        var logo = this.physics.add.image(400, 100, 'logo');#}
{##}
{#        logo.setVelocity(100, 200);#}
{#        logo.setBounce(1, 1);#}
{#        logo.setCollideWorldBounds(true);#}
{##}
{#        emitter.startFollow(logo);#}
{#    }#}
{#    </script>#}
{##}
{#</body>#}
{#</html>#}