{% extends 'base.html' %}
{% load static %}


{% block title %}
    Index Page
{% endblock %}

{% block content %}

    <canvas></canvas>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary bounce animated text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Uno</a>
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Rules</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About UNO<sup>®</sup></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'signup' %}">Sign In</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'login' %}">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-white text-center">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100" src="{% static "img/uno.png" %}">
            <h1 data-aos="flip-left">Welcome to UNO Game</h1>
            <hr data-aos="flip-left" class="star-dark">
            <div data-aos="flip-left" class="text-center mt-4"><a class="btn btn-outline-light btn-xl" role="button" href="#"><span>Play Now!</span></a></div>
        </div>
    </header>
    <section data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150" id="portfolio" class="portfolio bg-primary">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">Rules</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4 top-pad-5">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-1">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100" style="background-color: transparent;">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static "img/portfolio/compo.png" %}"><img class="img-fluid" src="{% static "img/portfolio/nents.png" %}"></a>
                </div>
                <div class="col-md-6 col-lg-4 top-pad-5">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-2">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static "img/portfolio/setup.png" %}"></a>
                </div>
                <div class="col-md-6 col-lg-4 top-pad-5">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-3">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static "img/portfolio/special.png" %}"><img class="img-fluid" src="{% static "img/portfolio/cards.png" %}"></a>
                </div>
                <div class="col-md-6 col-lg-4 top-pad-5">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-4">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static "img/portfolio/game.png" %}"><img class="img-fluid" src="{% static "img/portfolio/play.png" %}"></a>
                </div>
                <div class="col-md-6 col-lg-4 top-pad-5">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-5">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static "img/portfolio/going.png" %}"><img class="img-fluid" src="{% static "img/portfolio/out.png" %}"></a>
                </div>
                <!-- <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-6">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static "img/portfolio/submarine.png"%}"></a>
                </div> -->
            </div>
        </div>
    </section>
    <section data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150" id="about" class="text-white mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center text-white">About UNO<sup>®</sup></h2>
            <hr class="star-dark mb-5">
            <div class="container">
                <div class=" ml-auto">
                    <p class="lead">
                        UNO<sup>®</sup> is the classic card game that’s easy to pick up and impossible to put down! Players take turns matching a card in their
                         hand with the current card shown on top of the deck either by color or number. Special action cards deliver game-changing
                          moments as they help you defeat your opponents. These include Skips, Reverses, Draw Twos, Wild and Draw Four Wild cards.
                           You’ll find 25 of each color (red, green, blue, and yellow), eight Wild cards, three Customizable cards and one Special
                            Rule card inside the 112-card deck. If you can’t make a match, you must draw from the central pile! And when you’re down
                             to one card, don’t forget to shout “UNO!” The first player to rid themselves of all the cards in their hand before their
                              opponents wins. It’s Fast Fun for Everyone!
                    </p>
                </div>
                <!-- <div class="col-lg-4 mr-auto">
                    <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div> -->
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container" data-aos="fade-up" data-aos-duration="550" data-aos-delay="150">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p>2215 John Daniel Drive<br>Clark, MO 65243</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase">Social</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" target="_blank"><i class="fa fa-dribbble fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                    <p class="lead mb-0"><span>Freelance is a free to use, open source Bootstrap theme.&nbsp;</span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright ©&nbsp;Django Unchained</small></div>
    </div>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    
    <!-- Modal start -->
    
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Components</h2>
                                <hr class="star-dark mb-5">
                                <div class="container">
                                    <h3>112 cards as follows:</h3>
                                    <ul>
                                        <li>
                                            19 Blue cards - 0 to 9
                                        </li>
                                        <li>
                                            19 Green cards - 0 to 9
                                        </li>
                                        <li>
                                            19 Red cards - 0 to 9
                                        </li>
                                        <li>
                                            19 Yellow cards - 0 to 9
                                        </li>
                                        <li>
                                            8 Skip cards - 2 each in Blue, Green, Red and Yellow
                                        </li>
                                        <li>
                                            8 Reverse cards - 2 each in Blue, Green, Red and Yellow
                                        </li>
                                        <li>
                                            8 Draw 2 cards - 2 each in Blue, Green, Red and Yellow
                                        </li>
                                        <li>
                                            4 Wild cards
                                        </li>
                                        <li>
                                            4 Wild Draw 4 cards
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div> -->
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Setup</h2>
                                <hr class="star-dark mb-5">
                                <p class="mb-5">
                                    Each player draws a card. Player with the highest point value is the dealer. Shuffle the deck. Each player is dealt 7 cards.
                                </p>
                                <p class="mb-5">
                                    Place the remaining cards facedown to form a draw pile. Turn over the top card of the draw pile to begin a discard pile.
                                     If the top card is a Wild or Wild Draw 4, return it to the deck and pick another card. For all other cards, see directions that follow.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div> -->
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Special Cards</h2>
                                <hr class="star-dark mb-5">
                                <div class="table-responsive">
                                    <table class="table table-hover table-dark">
                                        <thead>
                                            <tr>
                                                <th>Cards</th>
                                                <th>Info</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-success text-dark">
                                                <th><img src="{% static "img/portfolio/+2.jpg" %}"></th>
                                                <th>
                                                    <h3>Draw Two Cards</h3>
                                                    <p>
                                                        When you play this card, the next person to play must draw 2 cards and forfeit his/her turn.
                                                    </p>
                                                    <p>
                                                        If this card is turned up at the beginning of play, the first player must draw two cards.
                                                         This card may only be played on a matching color or on another Draw 2 card.
                                                    </p>
                                                </th>
                                            </tr>
                                            <tr class="table-info text-dark">
                                                <td>
                                                    <img src="{% static "img/portfolio/reverse.jpg" %}">
                                                </td>
                                                <td>
                                                    <h3>Reverse Card</h3>
                                                    <p>This card reverses direction of play. Play to the left now passes to the right, and vice versa.</p>
                                                    <p>
                                                        If this card is turned up at the beginning of play, the player to the right now plays first,
                                                         and play then goes to the right instead of left.
                                                    </p>
                                                    <p>This card may only be played on a matching color or on another Reverse card.</p>
                                                </td>
                                            </tr>
                                            <tr class="table-danger text-dark">
                                                <th>
                                                    <img src="{% static "img/portfolio/skip.jpg" %}" alt="" class="src">
                                                </th>
                                                <th>
                                                    <h3>Skip Card</h3>
                                                    <p>The next person in line to play after this card is played loses his/her turn and is "skipped".</p>
                                                    <p>
                                                        If this card is turned up at the beginning of play, the first player (the player to the left of the dealer) is skipped.
                                                    </p>
                                                    <p>This card may only be played on a matching color or on another Skip card.</p>
                                                </th>
                                            </tr>
                                            <tr class="table-warning text-dark">
                                                <th><img src="{% static "img/portfolio/wild.jpg" %}" alt="" class="src"></th>
                                                <th>
                                                    <h3>Wild Card</h3>
                                                    <p>
                                                        When you play this card, you may change the color being played to any color (including the current color)
                                                         to continue play. You may play a Wild card even if you have another playable card in hand.
                                                    </p>
                                                    <p>If this card is turned up at the beginning of play, the person to the left of the dealer chooses
                                                         the color to begin play and plays the first card.
                                                    </p>
                                                </th>
                                            </tr>
                                            <tr class="table-primary text-dark">
                                                <th><img src="{% static "img/portfolio/wild4.jpg" %}" alt=""></th>
                                                <th>
                                                    <p>This card allows you to call the next color played and requires the next player to pick 4 cards from the
                                                         DRAW pile and forfeit his/her turn. However, there is a hitch!
                                                    </p>
                                                    <p>
                                                        You can only play this card when you don't have a card in your hand that matches the color of the
                                                         card previously played. If turned up at the beginning of play, return this card to the deck and pick another card.
                                                    </p>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div> -->
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Game Play</h2>
                                <hr class="star-dark mb-5">
                                <p class="mb-5">
                                    Player to the left of the dealer plays first. Play passes to the left to start. 
                                    Match the top card on the DISCARD pile either by number, color or word.
                                </p>
                                <p class="mb-5">
                                    For example, if the card is a Green 7, you must play a Green card or any color 7. 
                                    Or, you may play any Wild card or a Wild Draw 4 card. If you don't have anything 
                                    that matches, you must pick a card from the DRAW pile. If you draw a card you can play, play it.
                                </p>
                                <p class="mb-5">
                                    Otherwise, play moves to the next person. Before playing your next to last card,
                                     you must say "UNO". If you don't say UNO and another player catches you with
                                      just one card before the next player begins their turn you must pick FOUR more cards from the DRAW pile.
                                </p>
                                <p class="mb-5">
                                    If you are not caught before the next player either draws a card from the DRAW pile or draws
                                     a card from their hand to play, you do not have to draw the extra cards. Once a player
                                      plays their last card, the hand is over. Points are tallied (see Scoring section) and you start over again.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div> -->
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5">
                                <p class="mb-5">
                                    If you forget to say, "UNO" before your card touches the DISCARD pile, but you "catch"
                                     yourself before any other player catches you, you are safe and not subject to the 4- card penalty.
                                </p>
                                <p class="mb-5">
                                    You may not catch a player for failure to say "UNO!" until his/her second-to-last card
                                     touches the DISCARD pile. Also, you may not catch a player for failure to say it after
                                      the next player begins his/her turn. "Beginning a turn" is defined as either drawing a
                                       card from the DRAW pile or drawing a card from your hand to play.
                                </p>
                                <p class="mb-5">
                                    If the last card played in a hand is a Draw 2 card or Wild Draw 4 card, the next player
                                     must draw 2 or 4 cards, depending upon the card played. These cards are counted when points are totaled.
                                </p>
                                <p class="mb-5">
                                    If no one is out of cards by the time the DRAW pile is depleted, reshuffle the DISCARD pile and continue play.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div>
    <!-- <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project Name</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="{% static "img/portfolio/submarine.png" %}">
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                    itaque. Nam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="#"><i class="fa fa-close"></i>&nbsp;Close Project</a></div>
            </div>
        </div>
    </div> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{%  static "js/freelancer.js" %}"></script>
    <script src="{%  static "js/canvas.js" %}"></script>

{% endblock content %}
