{% extends 'base.html' %}
{% load static %}


{% block title %}Play Now{% endblock %}

{% block content %}
    <header class="masthead text-center">
        <div class="container">
            <h1 class="text-uppercase">play now</h1>
            <hr data-aos="flip-left" class="star-dark">
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col mt-4">
                <div class="card">
                    <div data-aos="flip-left" class="text-center card-header card-bg">
                        <h5 class="text-uppercase"> public online multiplayer</h5>
                    </div>
                    <div class="card-body text-center card-hd">
                        <p>Play with random Players across the world.<br>
                        League can only be increased playing <strong>GLOBAL</strong> matches.
                        </p>
                        <a class="btn btn-lg btn-primary">Start Game</a>
                    </div>
                </div>
            </div>
            <div class="col mt-4">
                <div class="card">
                    <div data-aos="flip-left" class="text-center card-bg card-header">
                        <h5 class="text-uppercase">custom multiplayer</h5>
                    </div>
                    <div class="card-body text-center card-hd">
                        <p>Challenge and Play with your friends online<br>
                        League cannot be increased playing <strong>CUSTOM</strong> matches.
                        </p>
                        <form>
                            <div class="form-row">
                                <input type="text" name="room-id" placeholder="Room-id" class="col form-control form-control-user">
                                &nbsp;&nbsp;
                                <a class="btn btn-md btn-primary col" type="submit">Hamko join karlo</a>
                            </div>
                        </form>
                        <button class="btn btn-sm disabled">OR</button><br/>
                        <a class="btn btn-warning">Create New Room</a>
                    </div>
                </div>
            </div>
            <div class="col mt-4">
                <div class="card">
                    <div data-aos="flip-left" class="text-center card-header card-bg">
                        <h5 class="text-uppercase">play v/s bot</h5>
                    </div>
                    <div class="card-body text-center card-hd">
                        <p>Play with computer bot to practice.<br>
                        If you are new then first try the <strong>BOT MODE</strong> to learn and excell.
                        </p>
                        <a class="btn btn-lg btn-primary">Start Bot Game</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}