{% extends 'base.html' %}
{% load static %}


{% block title %}Play Now{% endblock %}

{% block content %}

    <div class="container top-pad-5" style="height:90vh">
        <div data-aos="flip-left" class="text-center mt-4">
            <a class="btn btn-outline-light btn-xl" role="button" ><span>Global</span></a>
            <a class="btn btn-outline-light btn-xl" role="button" ><span>With Friends</span></a>
            <a class="btn btn-outline-light btn-xl" role="button" ><span>vs-AI</span></a>
        </div>
    </div>

{% endblock %}