{% comment %}
    context = {
        "visited_user": visited_user,
        "visited_profile": visited_profile,
        "avatar_upload_form": avatar_upload_form,
    }
{% endcomment %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary bounce animated text-uppercase" id="mainNav">
    <div class="container">
        {% if user.is_authenticated and user.username == visited_user.username %}
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Hi, {{ user.username }}!</a>
        {% else %}
            <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ visited_user.first_name }} {{ visited_user.last_name }}</a>
        {% endif %}
        <button id="id_collapse_button" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
{#                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About UNO<sup>®</sup></a></li>#}
                {% if user.is_authenticated %}
                    {% if visited_user.username == user.username %}
                        {% if visited_profile.is_email_verified %}
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'play_now' %}">Play Now</a></li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'home' %}">Home</a></li>
                        {% else %}
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'verify_email' user.username %}">Verify Email</a></li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'play_now' %}">Play Now</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'home' %}">Home</a></li>
                    {% endif %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'signup' %}">Sign In</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>