{% extends 'profile_base.html' %}
{% load static %}
{% comment %}
    context = {
        "visited_user": visited_user,
        "visited_profile": visited_profile,
        "avatar_upload_form": avatar_upload_form,
        "all_game_data": all_game_data,
        "current_league_progress": int(current_league_progress),
        "overall_win_rate": int(overall_win_rate),
        "public_win_rate": int(public_win_rate),
        "custom_win_rate": int(custom_win_rate),
        "level": level,
        "xp": xp,
        "xp_progress": xp_progress,
        "xp_threshold": xp_threshold,
    }
{% endcomment %}
{% block styles %}
    <style>
        th {
            vertical-align: middle !important;
        }
        canvas {
            position: fixed;
        }
    </style>
{% endblock %}

{% block title %}
    {{ visited_user.username }}'s Profile
{% endblock %}

{% block content %}

    <div class="container-fluid" style="padding-top: 4rem;">
        <div class="row">
            <div class="col-lg-3">
                <div class="card mb-3" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150">
                    <div class="card-header py-3">
                        <h6 class="text-primary font-weight-bold m-0">Profile</h6>
                    </div>
                    <div class="card-body card-bg text-center shadow">
                        <img class="rounded-circle mb-3 mt-4" src="{{ visited_profile.avatar.url }}" width="160" height="160" alt="Avatar">
                        {% if visited_user.username == user.username %}
                            <form id="id_avatar_edit_form_{{ visited_user.username }}" method="post" enctype="multipart/form-data" action="{% url "avatar_upload" visited_user.username %}" hidden>
                                <div class="mb-3">
                                    {% csrf_token %}
                                    {{ avatar_upload_form }}
                                    <div class="">
                                        <button class="btn btn-primary btn-sm" type="submit">Change Photo</button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </form>
                        {% endif %}

                        <h4 class="small text-left font-weight-bold">Current XP ({{ visited_profile.xp }})<span class="float-right">Level {{ level }} ({{ xp_threshold }})</span></h4>
                        <div class="progress progress-sm mb-3">
                            <div class="progress-bar bg-success" aria-valuenow="{{ xp_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ xp_progress }}%;"><span class="sr-only">{{ xp_progress }}%</span></div>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary font-weight-bold m-0">Win Rates</h6>
                    </div>
                    <div class="card-body card-bg">
                    {% if public_win_rate != -1 or custom_win_rate != -1 %}
                         {% if overall_win_rate != -1 %}
                            <h4 class="small font-weight-bold">Overall<span class="float-right">{{ overall_win_rate }}%</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-primary" aria-valuenow="{{ overall_win_rate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ overall_win_rate }}%;"><span class="sr-only">{{ overall_win_rate }}%</span></div>
                            </div>
                        {% endif %}

                        {% if public_win_rate != -1 %}
                            <h4 class="small font-weight-bold">Public Multi-player<span class="float-right">{{ public_win_rate }}%</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-info" aria-valuenow="{{ public_win_rate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ public_win_rate }}%;"><span class="sr-only">{{ public_win_rate }}%</span></div>
                            </div>
                        {% endif %}

                        {% if custom_win_rate != -1 %}
                            <h4 class="small font-weight-bold">Custom Multi-player<span class="float-right">{{ custom_win_rate }}%</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-info" aria-valuenow="{{ custom_win_rate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ custom_win_rate }}%;"><span class="sr-only">{{ custom_win_rate }}%</span></div>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>You haven't played any match yet.</p>
                        <p><a href="{% url 'play_now' %}">Click to Play Now</a></p>
                    {% endif %}


                    </div>
                </div>
            </div>

            <div class="col-lg-8"> {# 4 #}
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">User Details</p>
                        </div>

                        <div class="card-body card-bg">
                            <form method="post" action="{% url 'edit_profile' user.username %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="username"><strong>Handle Name</strong></label>
                                            <input class="form-control" type="text" placeholder="{{ visited_user.username }}" name="username" disabled>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            {% if user.username == visited_user.username %}
                                                {% if visited_profile.is_email_verified %}
                                                    <label for="id_email_{{ visited_user.username }}"><strong>Email Address (Verified)</strong></label>
                                                {% else %}
                                                    <label for="id_email_{{ visited_user.username }}"><strong>Email Address (Un-verified)</strong></label>
                                                {% endif %}
                                            {% else %}
                                                <label for="id_email_{{ visited_user.username }}"><strong>Email Address</strong></label>
                                            {% endif %}
                                            <input id="id_email_{{ visited_user.username }}" class="form-control" type="email" placeholder="{{ visited_user.email }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="id_first_name_{{ visited_user.username }}"><strong>First Name</strong></label>
                                            <input id="id_first_name_{{ visited_user.username }}" class="form-control" type="text" placeholder="{{ visited_user.first_name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="id_last_name_{{ visited_user.username }}"><strong>Last Name</strong></label>
                                            <input id="id_last_name_{{ visited_user.username }}" class="form-control" type="text" placeholder="{{ visited_user.last_name }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                {% if visited_user.username == user.username %}
                                    <div class="form-group">
                                        <button id="id_edit_profile_button" class="btn btn-primary btn-sm">Edit Details</button>
                                        <button id="id_confirm_edit_button" type="submit" class="btn btn-primary btn-sm" hidden disabled>Confirm</button>
                                    </div>
                                {% endif %}
                            </form>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Game Stats</p>
                        </div>

                        <div class="card-body tbl-bg">
                            <div class="table-responsive text-center">
                                <table class="table table-borderless text-uppercase tbl-bg">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <img src="{% static "img/profile/league.png" %}" alt="" width="60px"><br>
                                                <strong>CURRENT LEAGUE</strong>
                                            </th>
                                            <th scope="col">
                                                <img src="{% static "img/profile/trophy.png" %}" alt="" width="60px"><br>
                                                <strong>CURRENT RATING</strong>
                                            </th>
                                            <th scope="col">
                                                <img src="{% static "img/profile/max-trophy.png" %}" alt="" width="60px"><br>
                                                <strong>MAXIMUM RATING</strong>
                                            </th>
                                            <th scope="col">
                                                <img src="{% static "img/profile/win.png" %}" alt="" width="80px"><br>
                                                <strong>NO OF WINS</strong>
                                            </th>
                                            <th scope="col">
                                                <img src="{% static "img/profile/played.png" %}" alt="" width="60px"><br>
                                                <strong>NO OF MATCHES PLAYED</strong>
                                            </th>
                                            <th scope="col">
                                                <img src="{% static "img/profile/win_streak.png" %}" alt="" width="60px"><br>
                                                <strong>WINNING STREAK</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{ visited_profile.current_league }}
                                            </td>
                                            <td>
                                                {{ visited_profile.current_rating }}
                                            </td>
                                            <td>
                                                {{ visited_profile.maximum_rating }}
                                            </td>
                                            <td>
                                                {{ visited_profile.won_public_games_count|add:visited_profile.won_custom_games_count }}
                                            </td>
                                            <td>
                                                {{ visited_profile.total_custom_games_count|add:visited_profile.total_public_games_count }}
                                            </td>
                                            <td>
                                                {{ visited_profile.winning_streak }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">History</p>
                        </div>
                        <div class="card-body card-hd" style="overflow-x: scroll;">
                            <ul class="flexlist">
                                <!-- MULTI-PLAYER GAME HISTORY -->
                                {% if all_game_data %}
                                    {% for all_game_datum in all_game_data %}
                                        <li class="flexlist-item">
                                            <div class="card text-center" style="width: 20rem; height:100%;">
                                                <div class="card-header">
                                                    {% if all_game_datum.game.game_type == all_game_datum.game.PUBLIC %}
                                                        <p class="text-uppercase text-secondary"><strong>public multiplayer</strong></p>
                                                    {% else %}
                                                        <p class="text-uppercase text-secondary"><strong>custom multiplayer</strong></p>
                                                    {% endif %}

                                                </div>
                                                <div class="card-body about-bg">
                                                    <table class="table text-center table-borderless">
                                                        <tr>
                                                            <th><p>Unique ID:</p></th>
                                                            <th><p>{{ all_game_datum.game.unique_game_id }}</p></th>
                                                        </tr>
                                                        <tr>
                                                            <th><p>Ended At:</p></th>
                                                            <th><p>{{ all_game_datum.game.concluded_at }}</p></th>
                                                        </tr>
                                                        <tr>
                                                            <th><p>Winner:</p></th>
                                                            <th>
                                                                <p>
                                                                    <a class="nav-link" href="{% url 'user_profile' all_game_datum.game.winner_username %}">
                                                                        <img src="{{ all_game_datum.winner.userprofile.avatar.url }}" alt="avatar" width="25px" class="rounded-circle" />
                                                                        {{ all_game_datum.game.winner_username }}
                                                                    </a>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2">
                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_multiplayer_game_{{ all_game_datum.game.unique_game_id }}">
                                                                    Participants
                                                                </button>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    You haven't played any multi-player yet. &nbsp; <a href="{% url 'play_now' %}">Click to Play Now.</a>
                                {% endif %}
                                <!-- MULTI-PLAYER GAME HISTORY ENDED -->
                            </ul>        
                        </div>

                    </div>
                </div>

            </div> {# 4 #}
        </div>
    </div>

    <!-- Modal multiplayer game -->
    {% if all_game_data %}
        {% for all_game_datum in all_game_data %}
            <div class="modal fade" id="id_multiplayer_game_{{ all_game_datum.game.unique_game_id }}" tabindex="-1" aria-labelledby="multiplayerLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header card-bg">
                    <h5 class="modal-title" id="exampleModalLabel">Participants</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body card-hd">
                        <table class="table table-borderless">
                            <tr>
                                <th><p>Name</p></th>
                                <th><p>Score</p></th>
                                <th><p>Rating Change</p></th>
                            </tr>
                            {% for participant in all_game_datum.participants %}
                                <tr>
                                    <td>
                                        <p>
                                            <a class="nav-link" href="{% url 'user_profile' participant.user.username %}">
                                                <img src="{{ participant.user.userprofile.avatar.url }}" alt="avatar" width="25px" class="rounded-circle" />
                                                {{ participant.user.username }}
                                            </a>
                                        </p>
                                    </td>
                                    <td><p>{{ participant.score }}</p></td>
                                    <td><p>{{ participant.rating_change }}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block javascript %}
    <script>
        /************************************************
             Setup to send POST AJAX request in Django
         ************************************************/
        $(function() {
            // This function gets cookie with a given name
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            /*
            The functions below will create a header with csrftoken
            */

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url === origin || url.slice(0, origin.length + 1) === origin + '/') ||
                    (url === sr_origin || url.slice(0, sr_origin.length + 1) === sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        });
    </script>
    <script>
        let editProfileButton = $("#id_edit_profile_button");
        let confirmEditButton = $("#id_confirm_edit_button");

        let firstNameElem = $("#id_first_name_{{ visited_user.username }}");
        let lastNameElem = $("#id_last_name_{{ visited_user.username }}");
        let emailElem = $("#id_email_{{ visited_user.username }}");
        let avatarEditForm = $("#id_avatar_edit_form_{{ visited_user.username }}");

        // When editProfile Button is clicked.
        editProfileButton.on('click', function (e) {
           e.preventDefault();
            confirmEditButton.attr({"hidden":false, "disabled":false});
            editProfileButton.attr({"disabled": true});

            // Setting disable to false
            firstNameElem.attr({"disabled": false});
            lastNameElem.attr({"disabled": false});
            emailElem.attr({"disabled": false});
            avatarEditForm.attr({"hidden": false});

            // Setting values in the fields.
            firstNameElem.val("{{ visited_user.first_name }}");
            lastNameElem.val("{{ visited_user.last_name }}");
            emailElem.val("{{ visited_user.email }}");

        });

        // On clicking Confirm Button
        confirmEditButton.on("click", function (e) {
            e.preventDefault();

            let firstName = firstNameElem.val();
            let lastName = lastNameElem.val();
            let email = emailElem.val();
            $.ajax({
                type:'POST',
                url: "{% url 'edit_profile' user.username %}",
                data:{
                    first_name: firstName,
                    last_name: lastName,
                    email: email
                },
                dataType: 'json',
                success:function(data){
                    let status = data.status;
                    if(status === "success") {
                        console.log(data);
                        window.location.replace("{% url 'user_profile' user.username %}");
                    }
                    else {
                        window.location.replace("{% url 'user_profile' user.username %}");
                    }
                }
             });
        });

    </script>

{% endblock %}
