{% extends 'base.html' %}
{# TODO: Player's statistics Forntend -- Vishwajeet #}
{% load static %}
{% comment %}
    context = {
        'user_game_rooms': user_game_room_qs,
        'other_game_rooms': other_game_room_qs,
        'joined_game_rooms': joined_game_rooms,
    }
{% endcomment %}
{% block title %}
    User Profile
{% endblock %}

{% block content %}
    <canvas></canvas>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary bounce animated text-uppercase" id="mainNav">
        <div class="container">
            {% if user.is_authenticated %}
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Hi, {{ user.username }}!</a>
            {% else %}
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Uno</a>
            {% endif %}
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'home' %}">Back to Home</a></li>
                    {% comment %} <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">About UNO<sup>®</sup></a></li> {% endcomment %}
                    {% if user.is_authenticated %}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'user_profile' user.username %}">Profile</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'signup' %}">Sign In</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'login' %}">Log In</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <section class="text-light text-center" style="margin-top: 5rem;">
        <div class="container">
            <div data-aos="flip-left" class="text-center mt-4">
                <a class="btn btn-outline-light btn-xl" data-bs-hover-animate="tada" role="button" href="{% url 'create_game_room' %}"><span>Create New Room</span></a>
                <a class="btn btn-outline-light btn-xl" data-bs-hover-animate="tada" role="button" href="{% url 'bot_game' %}"><span>Start BOT Game</span></a>
            </div>
            <hr data-aos="flip-left" class="star-dark">
        </div>
    </section> 

    {# To go to message #}
    <div class="text-center">
        <a class="btn btn-outline-light btn-xl" href="{% url 'main_page' %}"><span>message</span></a>
    </div>

    <div class="text-center">
        <h1 data-aos="slide-left">YOUR GAME ROOMS</h1>
        
        <div class="container" data-aos="slide-left" data-aos-duration="500" data-aos-delay="250">
        {% if user_game_rooms %}
            <div class="table-responsive">
                <table class="table tbl-bg table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Unique Game ID</th>
                            <th>Enter Button</th>
                        </tr>
                    </thead>
                    {% for user_game_room in user_game_rooms %}
                    <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user_game_room.unique_game_id }}</td>
                            <td><a data-toggle="modal" href="#portfolio-modal" href="{% url 'enter_game_room' user_game_room.unique_game_id %}">Enter</a></td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p> You haven't created any game rooms yet. </p>
        {% endif %}
        </div>

        <h1 data-aos="slide-up">OTHER GAME ROOMS</h1>
        <div class="container" data-aos="slide-up" data-aos-duration="500" data-aos-delay="250">
        {% if other_game_rooms %}
            <table class="table table-bordered tbl-bg table-hover">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Unique Game ID</th>
                        <th>Admin</th>
                        <th>Join Button</th>
                    </tr>
                </thead>
            {% for other_game_room in other_game_rooms %}
                <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ other_game_room.unique_game_id }}</td>
                        <td>{{ other_game_room.admin }}</td>
                        <td><a href="{% url 'join_game_room' other_game_room.unique_game_id %}">Join</a></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        {% else %}
            <h4> Alas! No Other Game Rooms are available at this moment. </h4>
        {% endif %}
        </div>

        <h1 data-aos="slide-up">JOINED GAME ROOMS</h1>
        <div class="container" data-aos="slide-up" data-aos-duration="500" data-aos-delay="250">
        {% if joined_game_rooms %}
            <table class="table table-bordered tbl-bg table-hover">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Unique Game ID</th>
                        <th>Admin</th>
                        <th>Enter Button</th>
                    </tr>
                </thead>
            {% for joined_game_room in joined_game_rooms %}
                <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ joined_game_room.unique_game_id }}</td>
                        <td>{{ joined_game_room.admin }}</td>
                        <td><a href="{% url 'enter_game_room' joined_game_room.unique_game_id %}">Enter</a></td>
                    </tr>
                </tbody>
            {% endfor %}

            </table>
        {% else %}
            <h2>You have not joined any Game Room Yet.</h2>
        {% endif %}
        </div>
    </div>

    <footer class="footer text-center">
        <div class="container" data-aos="fade-up" data-aos-duration="550" data-aos-delay="150">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4" style="color: rgba(255, 255, 255, 0.7)">Location</h4>
                    <p class="text-white">MNNIT Allahabad<br>Prayagraj, UP 211004</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase" style="color: rgba(255, 255, 255, 0.7)">Social</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-dark btn-social text-white text-center rounded-circle" role="button" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-dark btn-social text-white text-center rounded-circle" role="button" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-dark btn-social text-white text-center rounded-circle" role="button" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-dark btn-social text-white text-center rounded-circle" role="button" target="_blank"><i class="fa fa-dribbble fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4" style="color: rgba(255, 255, 255, 0.7)">About Django Unchained</h4>
                    <p class="lead mb-0 text-white"><span>Django Unchained is a Web-Dev team of students of MNNIT Allahabad.</span></p>
                </div>
            </div>
        </div>
    </footer>

    {% else %}
        <h1>Hey! How did you get in here. You are not logged in!</h1>
    {% endif %}


     <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Game Lobby</h2>
                                <hr class="star-dark mb-5">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h3 class="text-secondary">Players Joined</h3>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="" alt="Profile pic 1">
                                            </td>
                                            <td>
                                                Name 1
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="" alt="Profile pic 2">
                                            </td>
                                            <td>
                                                Name 2
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{%  static "js/freelancer.js" %}"></script>
    <script src="{%  static "js/canvas.js" %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    
{% endblock %}