{% load static %}
{% load chitchat_filters %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <script src="https://cdn.tiny.cloud/1/eycvhhid2rify4lch63otvvke5xgs17tn4xmq8lyzyy2qie8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="{% static "css/chat.css"%}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/toggle.css"%}">
    <link rel="stylesheet" href="{% static 'css/chitchat_text.css' %}">
    <style>
        p {
            overflow: auto;
        }
    </style>
</head>

<body class="dark-theme">
    <canvas></canvas>

    <div class="toggle">
        <input class="toggle-input" type="checkbox">
        <div class="toggle-bg"></div>
        <div class="toggle-switch">
            <div class="toggle-switch-figure"></div>
            <div class="toggle-switch-figureAlt"></div>
        </div>  
    </div>
    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
                <input type="text" placeholder="Search Friends" />
            </div>

            <ul class="list nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <li class="clearfix nav-item class_add_friend">

                    <a id="id_add_friend" data-toggle="pill" href="#add-friend">
                        <div class="about">
                            <div class="name">Add Friend</div>
                        </div>
                    </a>
                </li>

                {% for friend in friends %}
                    <!-- <li class="clearfix nav-item"> -->
                        <a class="nav-link class_friends_tab" value="{{ friend.0 }}" data-toggle="pill" href="#chat-1" role="tab" aria-controls="chat-1" aria-selected="true">
                            <img src="{{ friend.2.avatar.url }}" alt="avatar" width="55px" class="rounded-circle" />
                            <div class="about">
                                <div class="name">{{ friend.0 | ellipses }}</div>
                                <div class="class_last_message" id="id_last_message_{{friend.0}}" style="overflow-x: ">
                                     {{ friend.1 | striptags | ellipses  }}
                                </div>
                            </div>
                        </a>
                    <!-- </li> -->
                {% endfor %}
            </ul>
        </div>

        <div class="chat tab-content" id="v-pills-tabContent" style="overflow-y: auto">
            <!-- partial:index.partial.html -->
            <div id="id_landing_tab" style="height: 100%">
              <svg viewBox="0 0 600 300" style="font: 5em/1 Open Sans, Impact;">
                  <!-- Symbol-->
                  <symbol id="s-text">
                  <text text-anchor="middle" x="50%" y="25%" dy=".35em">WELCOME</text>
                  <text text-anchor="middle" x="50%" y="50%" dy=".35em">TO</text>
                  <text text-anchor="middle" x="50%" y="75%" dy=".35em">CHITCHAT</text>
                  </symbol>
                  <use class="text" xlink:href="#s-text"></use>
                  <use class="text" xlink:href="#s-text"></use>
                  <use class="text" xlink:href="#s-text"></use>
                  <use class="text" xlink:href="#s-text"></use>
                  <use class="text" xlink:href="#s-text"></use>
              </svg>
            </div>
            <!-- partial -->
            <div class="tab-pane fade" id="chat-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                {# Chat Header Start #}
                <div class="chat-header clearfix">
                     {# Stuff here is added from the Ajax Script at the End of this file using the class chat-header#}
                </div>
                {# Chat Chat Header End #}

                {# Chat History Part Start #}
                <div class="chat-history">
                    <ul id="id_friends_chat_history_ul">
                        {# Stuff here is appended from the Ajax Script at the End of this file using the id of this ul #}
                    </ul>
                </div>
                {# Chat History Part End #}

                {# Chat Message Sending Part Start #}
                <div class="chat-message clearfix">
                    <form id="id_message_form">
                        <textarea name="message-to-send" id="id_message" placeholder ="Type your message" rows="1">
                        </textarea>
                        <button style="float: right;"><i class="fa fa-send-o" style="font-size:36px"></i></button>
                        {# <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;#}
                        {# <i class="fa fa-file-image-o"></i>#}
                        
                    </form>
                </div>
                {# Chat Message Sending Part End #}
            </div>


            {# This div is visible when user click on Add Friend Link #}
            {# Seach Friend Starts #}
            <div class="tab-pane fade" id="add-friend" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="clearfix">
                    <input class="form-control form-control-user" type="text" id="id_find-friend_input" placeholder="Find Friends"/>
                    {# <i class="fa fa-search"></i> #}
                </div>
                {# This div will show all requests that i got from other users it is loaded only once from context passed from view #}
                <div>
                    <ul class="list-group">
                        {% for other_user in requester_list %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" value="{{other_user}}">
                                {{other_user}}
                                <button value="2" class="class_change-request-status_button btn btn-info">
                                    Accept Request
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {#  This div will show the seach results i.e. ul will be filled by Ajax #}
                <div>
                    <ul class="list-group" id="id_find-friend_ul"></ul>
                </div>
            </div>
            {# Seach Friend Ends #}
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
    <script src="{% static "js/chat.js"%}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
     <!-- jQuery Ajax Script -->

    <script type="text/javascript">
      const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      function format_AM_PM(date) {
          let hours = date.getHours();
          let minutes = date.getMinutes();
          let am_pm = hours >= 12 ? 'PM' : 'AM';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+ minutes : minutes;
          let strTime = hours + ':' + minutes + ' ' + am_pm;
          return strTime;
      }
      var ALL_SOCKETS = {}; // An object having username as key and socket corresponding to this user as value.
      // This helps in preventing multiple socket connections with the same user.
      // More Importantly this will help us in not sending messages on sockets that were formed earlier but are
      // closed now.

      $(document).ready(function(){
          {# Function Responsible for Showing Search Results #}
          $("#id_find-friend_input").keyup(function(){
            let search_query = $(this).val();
            $.ajax({
                 type:'GET',
                 data:{
                    'search_query' : search_query,
                 },
                 dataType: 'json', // type of data received from Server-Side
                 success:function(data){ // data is what we have recieved as json response
                      let users_list = data.result;
                      $("#id_find-friend_ul").empty();
                      if(data.result.length){
                          users_list.forEach((pair)=>{
                              let person2 = pair[0];
                              let friend_status = pair[1]; // a number
                              if(friend_status === 0){ // show add friend button
                                  friend_status = "Send Friend Request";
                                  $("#id_find-friend_ul").append(`
                                    <li class="list-group-item d-flex justify-content-between align-items-center" value="${person2}">${person2}<button value=${pair[1]} class="class_change-request-status_button btn btn-danger"> ${friend_status} </button></li>
                                  `);
                              }
                              else if(friend_status === 1){ // show disabled Pending button
                                  friend_status = "Request Pending";
                                  $("#id_find-friend_ul").append(`
                                    <li class="list-group-item d-flex justify-content-between align-items-center" value="${person2}">${person2}<button class="btn btn-warning" value=${pair[1]}> ${friend_status} </button></li>
                                  `);
                              }
                              else if(friend_status === 2){ // show Accept Request button
                                  friend_status = "Accept Request";
                                  $("#id_find-friend_ul").append(`
                                    <li class="list-group-item d-flex justify-content-between align-items-center" value="${person2}">${person2}<button value=${pair[1]} class="class_change-request-status_button btn btn-info"> ${friend_status} </button></li>
                                  `);
                              }
                              else{ // show disabled Already friends button
                                  friend_status = "Friends";
                                  $("#id_find-friend_ul").append(`
                                    <li class="list-group-item d-flex justify-content-between align-items-center" value="${person2}">${person2}<button class="btn btn-success" value=${pair[1]}>${friend_status} </button></li>
                                  `);
                              }

                          });
                      }
                      else {
                          {#alert("No results");#}
                          $("#id_find-friend_ul").append(`
                                <li>No Results</li>
                          `);
                      }
                 }
            });
          });



          {# Function Responsible for Sending/Accepting Friend Requests #}
          $(document).on('click', '.class_change-request-status_button', function(){
              let other_person = $(this).closest('li').attr('value');
              let status_button = $(this);
              {#alert(status_button.text());#}
              $.ajax({
                 type:'GET',
                 data:{
                    {#'current_status' : current_status,#} // Not required as info present in Friend Table already
                     'other_person': other_person
                 },
                 dataType: 'json', // type of data received from Server-Side
                 success:function(data){ // data is what we have received as json response
                      let new_status = data.result;
                      let new_text = "";
                      status_button.removeAttr('class');
                      if(new_status === false){ // show disabled Pending button
                          new_text = "Request Pending";
                          status_button.addClass('btn btn-warning')
                      }
                      else if(new_status === true){ // show Friends disabled button
                          let avatar_src_path = data.avatar_src_path;
                          new_text = "Friends";

                          // Adding the message as the last_message in the thread
                          let id_last_message_for_other_user = "id_last_message_" + other_person;
                                        // Removing all other links as active ones and making the current active link
                          
                          // Removing the previous active links
                          let ele = $(".nav-link.class_friends_tab.active");
                          ele.removeClass('active');

                          status_button.addClass('btn btn-success');
                          $('.class_add_friend').after(`
                                <a class="nav-link class_friends_tab" value="${other_person}" data-toggle="pill" href="#chat-1" role="tab" aria-controls="chat-1" aria-selected="true">
                                    <img src="${avatar_src_path}" alt="avatar" width="55px" class="rounded-circle" />
                                    <div class="about">
                                        <div class="name">${other_person}</div>
                                        <div class="class_last_message" id="${id_last_message_for_other_user}" style="overflow-x: ">
                                             Hello Uno Freak!
                                        </div>
                                    </div>
                                </a>
                          `);
                      }
                      status_button.text(new_text);
                 }
              });
          });

          $('#id_add_friend').click(() => {
              $('#id_landing_tab').css('display', 'none');
              // Removing the previous active links
              let ele = $(".nav-link.class_friends_tab.active")
              ele.removeClass('active');
          });

          {# Function Responsible for Showing Chat History with a friend #}
          $(document).on('click', '.class_friends_tab', function(){
              $('#id_landing_tab').css('display', 'none');


              // Removing all other links as active ones and making the current active link
              let ele = $(".nav-link.class_friends_tab.active");
              ele.removeClass('active');
              $(this).addClass('active');

              let other_user = $(this).attr('value');
              let url = other_user;
              $.ajax({
                 type:'GET',
                  url: url,
                 success:function(data){ // data is what we have received as json response
                    let messages = data.chats;
                    let other_user_first_name = data.other_user_first_name;
                    let updated_time_string = data.updated_time_string
                    let avatar_src_path = data.avatar_src_path;

                    // Showing the avatar, firstname and days_since_last_chat in chat-header
                    $(".chat-header").html(`
                          <div class="chat-about">
                            <img id="id_chat-with-image" src="${avatar_src_path}"
                              alt="avatar" width="55px" class="rounded-circle" />
                            <div class="chat-with"> 
                                <em>${other_user_first_name}</em>  
                                <div class="chat-num-messages">${updated_time_string}</div>
                            </div>
                          </div>
                    `);
                    // Showing the visit profile button
                    let user_profile_url = "http://" +  window.location.host + "/user_profile/visit/" + other_user;
                    $(".chat-header").append(`<a type="button" style="float:right;" class="btn btn-primary" href="${user_profile_url}">View Profile</a>`);
                    
                    // Showing the Chat History
                    $("#id_friends_chat_history_ul").empty();
                    {#console.log(messages, typeof(messages));#}
                    if(messages.length === 0){
                        $("#id_friends_chat_history_ul").append(`
                            {# Shown In the Center With Some Animation #}
                            {# UPD: This is no longer required as a default message is sent from the friend-request sender #}
                            <li class="clearfix">
                                <div class="message other-message float-right">
                                    No messages to Show!
                                </div>
                            </li>
                        `)
                    }
                    else{
                        messages.forEach((message_instance)=>{
                            let sender = message_instance[0];
                            let message = message_instance[1];
                            let timestamp = message_instance[2];
                            let d = new Date(timestamp);
                            let date_string = format_AM_PM(d) + " on " + months[d.getMonth()] + " " + d.getDate() + ', ' + d.getFullYear();
                            if(sender === "{{ request.user.username }}"){
                                $("#id_friends_chat_history_ul").append(`
                                    {# Shown Right Side #}
                                    <li class="clearfix">
                                        <div class="message-data align-right">
                                            <span class="message-data-time" >${date_string}</span> &nbsp; &nbsp;
                                        </div>
                                        <div class="message other-message float-right">
                                            ${message}
                                        </div>
                                    </li>
                                `)
                            }
                            else{
                                 $("#id_friends_chat_history_ul").append(`
                                    {# Shown Left Side #}
                                    <li>
                                        <div class="message-data">
                                            <span class="message-data-time">${date_string}</span>
                                        </div>
                                        <div class="message my-message">
                                            ${message}
                                        </div>
                                    </li>
                                `);
                            }
                        });
                    }

                    let sh = document.getElementsByClassName("chat-history")[0].scrollHeight;
                    $(".chat-history").animate({scrollTop: sh}, 0); // Auto Scrolling
                 }
              });

              {# Closing the Earlier Socket Connection #}
              {#ALL_SOCKETS.forEach((s)=>{#}
              {#    if(s != undefined){#}
              {#        if(s.readyState == 2 || s.readyState == 3){#}
              {#        }else{#}
              {#            s.close();#}
              {#        }#}
              {#    }#}
              // });

              Object.keys(ALL_SOCKETS).forEach((key)=>{
                  if(ALL_SOCKETS[key] !== undefined && ALL_SOCKETS[key].readyState !== 2 && ALL_SOCKETS[key].readyState !== 3){
                      ALL_SOCKETS[key].close();
                      console.log("Closed:", key);
                  }
              });

          {# Scripts below hanldes Message Sending and Receiving #}

              const loc = window.location;
              const host = loc.host;
              const pathname = loc.pathname;
              let wsStart = 'ws://';
              if(loc.protocol == 'https:'){
                  wsStart = 'wss://';
              }
              {# Opening the Socket Connection on basis of other_person #}
              const endpoint = wsStart + host + pathname + other_user;
              {#console.log(endpoint);#}
              console.log("Request For Websocket Connection Sent to Server at endpoint: " + endpoint);
              socket = new WebSocket(endpoint);
              ALL_SOCKETS[other_user] = socket;
              {#let socket = new ReconnectingWebSocket(endpoint);#}

              let formData = $("#id_message_form"); {# id of form #}
              let msg = $("#id_message"); {# id of text-input #}
              let chat_list = $('#id_friends_chat_history_ul'); {# id of ul #}
              console.log("Gonna Use socket for user:", other_user);
              socket.onopen = function (e) {
                  console.log("The Connection has been Opened from Both Sides Now.", e);
                  formData.submit(function(e) {
                      {#alert("Send Clicked!");#}
                      console.log($(this));
                      e.preventDefault();
                      e.stopImmediatePropagation(); // This Solved the Problem for the form Submitting over and over again...
                      // This stops Event Bubbling.
                      let message = {"message": msg.val()};
                      {#alert("Submission Prevented" + message.message);#}
                      socket.send(JSON.stringify(message));
                      msg.val('');
                      tinymce.get('id_message').setContent('');
                      $('.chat-num-messages').html(`Most recent conversation was Today`);
                  });
              };

              socket.onmessage = function (e) {
                  console.log("The Message sent by the Server is: ", e.data);
                  let chat_message = JSON.parse(e.data);
                  let timestamp = chat_message.timestamp;
                  let d = new Date(timestamp);
                  let date_string = format_AM_PM(d) + " on " + months[d.getMonth()] + " " + d.getDate() + ', ' + d.getFullYear();
                  
                  // Adding the message as the last_message in the thread
                  let id_last_message_for_other_user = "#id_last_message_" + other_user;
                  // Escaping the dots present in the username
                  let final_id_last_message_for_other_user = ""
                  for(let i=0;i<id_last_message_for_other_user.length;i++){
                    if(id_last_message_for_other_user[i] === '.'){
                      final_id_last_message_for_other_user += "\\";
                    }
                    final_id_last_message_for_other_user += id_last_message_for_other_user[i];
                  }
                  // console.log(final_id_last_message_for_other_user);
                  let raw_message = chat_message.message;
                  raw_message = raw_message.replace( /(<([^>]+)>)/ig, ''); 
                  // To remove HTML Tags from the message inside TextArea
                  raw_message = raw_message.trim();
                  if(raw_message.length > 20){
                    raw_message = raw_message.substring(0, 20) + "...";
                  }
                  $(final_id_last_message_for_other_user).html(`
                      ${raw_message}
                  `);               
                  // alert(raw_message)
                  
                  $('.chat-num-messages').html(`Most recent conversation was Today`);

                  // Adding message in the chat list
                  if(chat_message.sender === "{{ request.user.username }}"){
                      $("#id_friends_chat_history_ul").append(`
                          {# Shown Right Side #}
                          <li class="clearfix">
                              <div class="message-data align-right">
                                  <span class="message-data-time" >${date_string}</span> &nbsp; &nbsp;
                              </div>
                              <div class="message other-message float-right">
                                  ${chat_message.message}
                              </div>
                          </li>
                      `);
                  }
                  else{
                       $("#id_friends_chat_history_ul").append(`
                          {# Shown Left Side #}
                          <li>
                              <div class="message-data">
                                  <span class="message-data-time">${date_string}</span>
                              </div>
                              <div class="message my-message">
                                  ${chat_message.message}
                              </div>
                          </li>
                      `);
                  }
                  let sh = document.getElementsByClassName("chat-history")[0].scrollHeight;
                  $(".chat-history").animate({scrollTop: sh}); // Auto Scrolling

                  let ele = $(".nav-link.class_friends_tab.active");
                  $('.class_add_friend').after(ele.clone());
                  ele.remove();
              };

              socket.onerror = function (e) {
                  console.log("Error:", e);
              };
              socket.onclose = function (e) {
                  console.log("Connection Closed from Server End.", e);
              };

          });
      }); // end of document ready
    </script>
    <script>
        tinymce.init({
            selector: "#id_message",
            plugins: "emoticons",
            toolbar: "emoticons",
            toolbar_location: "bottom",
            height: 100,
            menubar: false,
            statusbar: false,
            entity_encoding : 'raw',
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.js"></script>
    
    <script src="{% static 'js/canvas.js' %}"></script>
    <script src="{% static 'js/toggle.js' %}"></script>

</body>
</html>