{% extends 'base.html' %}
{% comment %}
    context = {
        'game_room': game_room,
        'players': players_qs,
    }
{% endcomment %}
{% block title %} Game Room Detail {% endblock %}

{% block content %}
    {% if game_room %}
        <div>
            Game Room ID: {{ game_room.unique_game_id }}
            <br/>
            Game Room Admin: {{ game_room.admin.username }}
            <br/>
            {% if user.isauthenticated and user.username == game_room.admin.username %}
                <a href="">Start Game</a>
            {% endif %}
        </div>
        <div>
            <div style="display: inline-block; border-style: dotted">
                <p>Connected Players</p>
                <ul id="id_connected_players_{{ game_room.pk }}">
                    {% for player in players %}
                        {% if player.is_online %}
                            <li id="id_connected_players_{{ player.player.pk }}_{{ game_room.pk }}">{{ player.player.username }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div style="display: inline-block;">
                Inline display
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        var loc = window.location;
        var wsStart = 'ws://';
        if(loc.protocol === 'https:') {
            // To make it Production Ready
            wsStart = 'wss://'
        }
        var endpoint = wsStart + loc.host + loc.pathname;
        // var socket = new ReconnectingWebSocket(endpoint);
        var socket = new WebSocket(endpoint);

        var connectedList = $("#id_connected_players_{{ game_room.pk }}");
        var connectedListChildren = connectedList.children();
        var isConnected = [];
        for(var i = 0; i < connectedListChildren.length; ++i) {
            if(!isConnected.includes(connectedListChildren[i].innerText)) {
                isConnected.push(connectedListChildren[i].innerText);
            }
        }
        socket.onopen = function (e) {
            console.log("open", e);
            var finalData = {
                "status": "connected",
                "username": "{{ user.username }}",
                "pk": "{{ user.pk }}"
            };
            socket.send(JSON.stringify(finalData));
        };

        socket.onmessage = function (e) {
            console.log("message", e);
            var backendData = JSON.parse(e.data);
            var status = backendData.status;
            var username = backendData.username;
            var pk = backendData.pk;
            if(status === "connected") {
                //alert(`${username} connected.`);
                console.log(isConnected);
                if(!isConnected.includes(username)) {
                    isConnected.push(username);
                    var appendIt = `<li id="id_connected_players_${pk}_{{ game_room.pk }}">${username}</li>`;
                    connectedList.append(appendIt);
                }
                console.log(isConnected);
            }
            else if(status === "disconnected") {
                //alert(`${username} disconnected.`);
                console.log(isConnected);
                if(isConnected.includes(username)) {
                    isConnected.splice(isConnected.indexOf(username), 1);
                    var elemId = `#id_connected_players_${pk}_{{ game_room.pk }}`;
                    var elem = $(elemId);
                    elem.remove();
                }
                console.log(isConnected);
            }
        };

        socket.onerror = function (e) {
            console.log("error", e);
        };
        socket.onclose = function (e) {
            console.log("close", e);
        };
    </script>
{% endblock %}