{% extends 'game_base.html' %}
{% load static %}

{% block title %}
    Game Room Detail
{% endblock %}

{% block style %}
    <style type="text/css">
        canvas {
                display: block;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        #VideoGrid{
            border: red dotted 2px;
            width: 40%;
            {#display: grid;#}
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }
        video{
            {#display: inline-block;#}
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block content %}
    {% if game_room %}
            <div>
                Game Room ID: {{ game_room.unique_game_id }}
                <br/>
                Game Room Admin: {{ game_room.admin.username }}
                <br/>
                <br/>
            </div>

            <div id="VideoGrid">
    {#            <video >#}
    {#                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">#}
    {#                Your browser does not support HTML video.#}
    {#            </video>#}
            </div>


        {% endif %}
{% endblock %}

{% block javascript %}


    <script>
        // This script tag contains only DOM elements picked using jQuery.
        let connectedList = $("#id_connected_players_{{ game_room.pk }}");
        let connectedListChildren = connectedList.children();
        let startGameButton = $('#id_start_game_{{ game_room.pk }}');
        let endGameButton = $('#id_end_game_{{ game_room.pk }}');
        let notificationList = $('#id_game_room_notifications_{{ game_room.pk }}');
        let myHandList = $("#id_hand_{{ user.username }}_{{ game_room.unique_game_id }}");
        let topCardElem = $("#id_top_card_{{ game_room.unique_game_id }}");
    </script>

    <script>

        /*
            This script tag contains only classes defined in this file.
            Following classes have been defined so far:
            1. Card
            2. Hand
            3. Game
        */

        class Card {
            constructor(category, number) {
                this.category = category;
                this.number = number;
            }
        }

        class Hand {
            constructor() {
                this.cards = [];
                this.cardSprites = []; // Sprites corresponding to cards
            }

            emptyHand() {
                this.cardSprites = [];
                this.cards = [];
            }

            getCount() {
                // Method that returns count of cards in this hand.
                return this.cards.length;
            }

            getActiveCount() {
                // Returns count of active card i.e. not null cards only.
                let count = 0;
                for(let card of this.cards) {
                    if(card != null) {
                        count++;
                    }
                }
                return count;
            }

            getCardAt(i) {
                // Method to return card at ith index in this hand.
                if(i < this.getCount()) {
                    return this.cards[i];
                }
            }

            getCardSpriteAt(i) {
                if(i < this.getCount()) {
                    return this.cardSprites[i];
                }
            }

            removeCardAndCardSpriteAt(i) {
                {#this.cards.splice(i, 1);#}
                {#this.cardSprites.splice(i, 1);#}
                this.cards[i] = null;
                this.cardSprites[i] = null;
            }

            addCardAndCardSprite(card, cardSprite) {
                this.cards.push(card);
                this.cardSprites.push(cardSprite);
            }

            getDepth(cardSprite) {
                // Getting depth of the card.
                let depth = 1;
                for(let i = 0; i < this.getCount(); ++i) {
                    let thisCardSprite = this.getCardSpriteAt(i);
                    if(thisCardSprite != null) {
                        if(JSON.stringify(cardSprite) === JSON.stringify(thisCardSprite)) {
                            return depth;
                        }
                        depth += 1;
                    }
                }
            }
        }

        class Game {
            constructor(gameData) {
                {#console.log(gameData);#}
                this.uniqueId = gameData.uniqueId;
                this.players = gameData.players;
                this.topCard = gameData.topCard;
                this.topColor = gameData.topColor;
                this.direction = gameData.direction;
                this.currentPlayerIndex = gameData.currentPlayerIndex;
                this.isGameRunning = false;
                this.canDrawCard = false;
                this.coordinatesOfPlayers = {};
                // Adding Players to DOM.
                // Game.addPlayersToDOM(this.players);
            }

            copyData(gameData) {
                {#console.log(gameData);#}
                if(gameData.topCard) {
                    this.topCard = new Card(gameData.topCard.category, gameData.topCard.number);
                    this.topColor = gameData.topColor;
                }
                this.direction = gameData.direction;
                this.currentPlayerIndex = gameData.currentPlayerIndex;
            }

            getTopCard() {
                return this.topCard;
            }

            getPlayersCount() {
                return this.players.length;
            }

            getPlayers() {
                return this.players;
            }

            getCurrentPlayer() {
                if(this.currentPlayerIndex >= 0) {
                    return this.players[this.currentPlayerIndex];
                }
                else {
                    return null;
                }
            }

            setTopCard(card) {
                this.topCard = card;
            }

            connectPlayer(username) {
                if(!this.players.includes(username)) {
                    this.players.push(username);
                    {#Game.addPlayersToDOM([username]);#}
                }
            }

            disconnectPlayer(username) {
                if(this.players.includes(username)) {
                    this.players.splice(this.players.indexOf(username), 1);
                    Game.removePlayersFromDOM([username]);
                }
            }

            startGame() {
                if(!this.isGameRunning) {
                    this.isGameRunning = true;
                    // Altering DOM elements accordingly.
                    startGameButton.prop("disabled", true);
                    endGameButton.prop("disabled", false);
                    for(let card of myHand.cards) {
                        if(card != null) {
                            myHandList.append(`<li>Category: ${card.category} Number: ${card.number}`);
                        }
                    }
                    topCardElem.html(`Category: ${this.topCard.category} Number: ${this.topCard.number}`);
                }
            }

            endGame() {
                if(this.isGameRunning) {
                    this.setTopCard(null);
                    this.isGameRunning = false;
                    myHand.emptyHand();

                    // Altering DOM elements accordingly.
                    startGameButton.prop("disabled", false);
                    endGameButton.prop("disabled", true);
                    myHandList.empty();
                    topCardElem.html('');
                }
            }

            canPlay(card) {
                // Method to determine whether player can play card on top of currentGame.topCard.

                // If player is currentPlayer
                if(me !== currentGame.getCurrentPlayer()) {
                    return false;
                }

                let category = card.category, number = card.number;
                let topCategory = this.topCard.category, topNumber = this.topCard.number;

                if(category !== WILD_FOUR) {
                    // If color is same OR number is same OR card is WILD card.
                    return category === this.topColor || number === topNumber || category === WILD;
                }
                else if(category === WILD_FOUR) {
                    // Logic for Wild Four Card
                    for(let handCard of myHand.cards) {
                        if(handCard == null) {
                            continue;
                        }
                        if(handCard.category !== WILD_FOUR) {
                            if(this.canPlay(handCard)) {
                                return false;
                            }
                        }
                    }
                    return true;
                }
            }

            static changeSceneRequest(socket, sceneNumber) {
                if(me === gameRoomAdmin) {
                    let data = {"status": "change_scene", "message": "Game is being started.", "data": {"sceneNumber": sceneNumber}};
                    let response = {"type": "change.scene", "text": data};
                    socket.send(JSON.stringify(response));
                }
            }

            static startGameRequest(socket) {
                if(me === gameRoomAdmin) {
                    let data = {"status": "start_game", "message": "Game is being started.", "data": {}};
                    let response = {"type": "start.game", "text": data};
                    socket.send(JSON.stringify(response));
                }
                else {
                    alert("You are not game Room Admin!");
                }
            }

            static endGameRequest(socket) {
                if(me === gameRoomAdmin) {
                    let data = {"status": "end_game", "message": "Game is being ended.", "data": {}};
                    let response = {"type": "end.game", "text": data};
                    socket.send(JSON.stringify(response));
                }
                else {
                    alert("You are not game Room Admin!");
                }
            }

            timeOutRequest(socket) {
                if(me === this.getCurrentPlayer()) {
                    alert("TIME OUT: Your turn will be skipped!");
                    let data = {"status": "time_out", "message": "Time Out for this player.", "data": {"username": me}};
                    let response = {"type": "time.out", "text": data};
                    socket.send(JSON.stringify(response));
                }
            }

            playCardRequest(socket, card, index, nextTopColor) {
                // Method to send data to backend using socket and play a card.
                // If the move is valid, server will respond.
                if(me === this.getCurrentPlayer()) {
                    if(this.canPlay(card)) {
                        let data = {"status": "play_card", "message": "A player played a card.", "data": {"username": this.getCurrentPlayer(), "card": card, "index": index, "next_top_color": nextTopColor,}};
                        let response = {"type": "play.card", "text": data};
                        socket.send(JSON.stringify(response));
                    }
                    else {
                        alert("You cannot play this card!");
                    }
                }
                else {
                    alert(`Cheating: You = ${me} and Current Player = ${this.getCurrentPlayer()}`);
                }
            }

            drawCardRequest(socket) {
                if(me === this.getCurrentPlayer()) {
                    if(this.canDrawCard) {
                        this.canDrawCard = false;
                        let data = {"status": "voluntary_draw_card", "message": "A player drew a card.", "data": {"username": this.getCurrentPlayer() }};
                        let response = {"type": "voluntary_draw_card", "text": data};
                        socket.send(JSON.stringify(response));
                    }
                    else {
                        alert("You have already drawn a card for this move!");
                    }
                }
                else {
                    alert(`Cheating: You = ${me} and Current Player = ${this.getCurrentPlayer()}`);
                }
            }

            keepCardAfterDrawingRequest(socket, card) {
                if(me === this.getCurrentPlayer()) {
                    let data = {"status": "keep_card", "message": "The player kept the card after drawing.", "data": {"username": this.getCurrentPlayer() }};
                    let response = {"type": "keep.card", "text": data};
                    socket.send(JSON.stringify(response));
                }
                else {
                    alert(`Cheating: You = ${me} and Current Player = ${this.getCurrentPlayer()}`);
                }
            }

            callUnoRequest(socket) {
                if(!this.isGameRunning) { // If game has not started yet.
                    alert("Glad to see your excitement, but let the game begin first!");
                    return;
                }

                let activeCardsCount = myHand.getActiveCount();
                if(activeCardsCount <= 2 && activeCardsCount > 0) {
                    alert("Sending Call UNO Request!");
                    let data = {"status": "call_uno", "message": "The player called UNO.", "data": {"username": me }};
                    let response = {"type": "call.uno", "text": data};
                    socket.send(JSON.stringify(response));
                }
                else {
                    alert("We understand you are eager to scream UNO, but you also need to be left with only one card to scream UNO!");
                }
            }

            catchPlayerRequest(socket, oppUsername) { // Called when current player points out that someone has not called UNO.
                if(!this.isGameRunning) { // If game has not started yet.
                    alert("Glad to see your excitement, but let the game begin first!");
                    return;
                }

                alert(`You are trying to catch ${oppUsername}`);
                let data = {"status": "catch_player", "message": "The player is caught.", "data": {"catcher": me, "caught": oppUsername }};
                let response = {"type": "catch.player", "text": data};
                socket.send(JSON.stringify(response));
            }

            static leaveGameRequest(socket) {
                let data = {
                    "status": "user_left_room",
                    "message": "Disconnecting...",
                    "data": {
                        "left_user_username": me,
                        "game_room_unique_id": gameRoomUniqueId
                    },
                };
                let response = {"type": "user_left_room", "text": data};
                socket.send(JSON.stringify(response));
            }

            static addPlayersToDOM(players) {
                for (let player of players) {
                    let appendIt = `<li id="id_connected_players_${player}_{{ game_room.pk }}">${player}</li>`;
                    connectedList.append(appendIt);
                }
            }

            static addScoreToDOM(player, score) {
                let editElem = $(`#id_connected_players_${player}_{{ game_room.pk }}`);
                editElem.html(`${player} (${score})`);
            }

            static removePlayersFromDOM(players) {
                for (let player of players) {
                    let removeID = `#id_connected_players_${player}_{{ game_room.pk }}`;
                    $(removeID).remove();
                }
            }
        }
    </script>

    <script>
        // Constants


        let currentGame = null;
        let myHand = new Hand();
        let me = "{{ user.username }}";
        let gameRoomAdmin = "{{ game_room.admin.username }}";
        let gameRoomUniqueId = "{{ game_room.unique_game_id }}"
        let redirectUrl = "{% url 'play_now' %}";
        let MY_UNIQUE_PEER_ID;
    </script>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.1/peerjs.min.js"></script>
    <script src=" {% static 'js/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/game.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/Scene1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/Scene2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/Scene3.js' %}"></script>
{% endblock %}
