{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
</head>
<body class="text-center" style="background-color:rgba(0, 0, 0, 0.9 ); background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'edited.png' %}" alt="Gameplay Info" style="height: 80vh; width: 95vw;">
    <a class="btn btn-outline-warning btn-lg"><span>Proceed to Play</span></a>
</body>
</html>